* {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#pane, .split-pane, .table-view, .table-row-cell:selected,
.table-row-cell:odd, .table-row-cell:even, .table-row-cell:editable,
.table-view .column-header, .table-view .column-header .filler,
.table-view .column-header-background .filler .scroll-bar,
.table-view .column-header-background .label, .menu-item:selected,
.menu-item, .dialog-pane, .combo-box, .combo-box .list-cell {
    -fx-background-color: white;
}

.combo-box {
    -fx-background-color: white #698aff #698aff #698aff;
    -fx-border-color: #698aff;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}

.table-view .column-header-background .filler {
    -fx-background-color: white;
    -fx-padding: 1em;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: white;
    -fx-background-insets: 0 0 0 0, 0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: white;
    -fx-background-insets: 0 0 0 0, 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #698aff;
}

.table-row-cell .type-cell {
    visibility: hidden;
}

.split-pane-divider {
    -fx-background-color: transparent;
}

#pane {
    -fx-background-color: white;
}

.button {
    -fx-background-color: #698aff;
    -fx-border-color: #698aff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-fill: #e5ebff;
}

.label {
    -fx-text-fill: #698aff;
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-color: white #698aff #698aff #698aff;
    -fx-border-color: #698aff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.password-field {
    -fx-background-color: white #698aff #698aff #698aff;
    -fx-border-color: #698aff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.table-view {
    -fx-alignment: CENTER;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
}

.table-row-cell:selected .text {
    -fx-fill: #698aff;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #698aff;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}
