* {
    -fx-background-color: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #698aff;
    -fx-border-color: #698aff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-fill: #e5ebff;
}

.label {
    -fx-text-fill: #698aff;
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-color: white #698aff #698aff #698aff;
    -fx-border-color: #698aff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.password-field {
    -fx-background-color: white #698aff #698aff #698aff;
    -fx-border-color: #698aff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.logout-button {
    -fx-background-image: url("../image/log-out.png");
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: transparent;
}

.table-view {
    -fx-alignment: CENTER;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
}

.table-row-cell:selected .text {
    -fx-fill: #698aff;
}
